ConfigSpace <= 0.6.0
wheel
numpy 
joblib
scikit-learn 
# on Summit on needs to use scipy == 1.3.1 to avoid a runtime error
scipy >= 1.7.0
statsmodels >= 0.13.0
pyaml
matplotlib 
GPy>=1.13.2; python_version > '3.8'
GPy; python_version <= '3.8'
lhsmdu
ipyparallel
opentuner >= 0.8.8
hpbandster
pybind11
filelock 
requests
pymoo
cloudpickle
SALib
termcolor
wheel
scikit-optimize @ git+https://git@github.com/gptune/scikit-optimize.git
ytopt-autotune @ git+https://git@github.com/gptune/autotune.git
cgp @ git+https://git@github.com/gptune/cGP.git
hybridMinimization @ git+https://git@github.com/gptune/hybridMinimization.git
george @ git+https://github.com/gptune/george.git
