ConfigSpace <= 0.6.0
numpy 
joblib
scikit-learn 
scipy >= 1.7.0
statsmodels >= 0.13.0
matplotlib 
GPy>=1.13.2; python_version > '3.8'
GPy; python_version <= '3.8'
gpflow
openturns
lhsmdu
ipyparallel
opentuner >= 0.8.8
hpbandster
#### pygmo 2.19.0 (Jan 19, 2023) of pip doesn't work 
pygmo <= 2.16.1; python_version <= '3.8'
pybind11
filelock 
requests
pymoo
cloudpickle
termcolor
scikit-optimize @ git+https://git@github.com/gptune/scikit-optimize.git
ytopt-autotune @ git+https://git@github.com/ytopt-team/autotune.git
cgp @ git+https://git@github.com/gptune/cGP.git
hybridMinimization @ git+https://git@github.com/gptune/hybridMinimization.git