numpy
joblib
scikit-learn 
scipy >= 1.7.0
statsmodels >= 0.13.0
matplotlib
openturns
lhsmdu
ipyparallel
opentuner >= 0.8.8
hpbandster
# pygmo 2.19.0 (Jan 19, 2023) of pip doesn't work 
pygmo <= 2.16.1
filelock 
requests
pymoo
cloudpickle
