numpy
joblib
scikit-learn 
scipy >= 1.7.0
statsmodels >= 0.13.0
matplotlib
openturns
lhsmdu
ipyparallel
opentuner >= 0.8.8
hpbandster
requests
scikit-optimize
requests
pymoo
cloudpickle
SALib
termcolor
