ConfigSpace <= 0.6.0
wheel
numpy < 1.24
joblib
scikit-learn 
scipy == 1.10.0
pyaml
matplotlib
GPy
lhsmdu
ipyparallel
opentuner >= 0.8.8
hpbandster
filelock 
pybind11
requests
pymoo
cloudpickle
termcolor
scikit-optimize @ git+https://git@github.com/gptune/scikit-optimize.git
ytopt-autotune @ git+https://git@github.com/ytopt-team/autotune.git
cgp @ git+https://git@github.com/gptune/cGP.git
hybridMinimization @ git+https://git@github.com/gptune/hybridMinimization.git