ConfigSpace <= 0.6.0
numpy 
joblib
scikit-learn 
scipy >= 1.7.0
statsmodels >= 0.13.0
# GPy uses get_cmap of matplotlib, which is depreciated in matplotlib==3.9
matplotlib < 3.9
gpflow 
openturns
lhsmdu
ipyparallel
opentuner >= 0.8.8
hpbandster
requests
scikit-optimize
requests
pymoo
cloudpickle
SALib
termcolor
wheel
scikit-optimize @ git+https://git@github.com/gptune/scikit-optimize.git
ytopt-autotune @ git+https://git@github.com/gptune/autotune.git
cgp @ git+https://git@github.com/gptune/cGP.git
hybridMinimization @ git+https://git@github.com/gptune/hybridMinimization.git
george @ git+https://github.com/gptune/george.git
--no-binary=mpi4py
mpi4py >= 4.0.0